.stepContainer {
  padding: 20px 16px;
  margin: 0 auto;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 46px;
  margin-bottom: 81px;
  border-radius: 12px;

  .tourInfo {
    display: flex;
    align-items: center;
    color: #64748b;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-left: 16px;
    span {
      font-weight: 600;
      color: #1e293b;
      font-size: 20px;
      line-height: 24px;
      margin-left: 5px;
    }
  }
}

.editButton {
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid #e2e8f0;
  background-color: white;
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 29px;
  font-weight: 600;
  line-height: 40px;
  align-self: flex-start;
  margin: 0;
  color: #1e293b;
}

.subTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  align-self: flex-start;
  margin: 0%;
  color: black;
  margin-bottom: 31px;
}

.budgetLabel {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.budgetInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.budgetInput {
  width: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
}

.currency {
  margin-left: 10px;
  font-size: 16px;
}

.nextButton {
  padding: 18px 40px;
  background: #3b3850;
  border-radius: 42px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin: 0;
  width: min-content;
  word-break: keep-all;
  align-self: center;
  white-space: nowrap;
}

.preferences {
  margin-bottom: 52px;;
}