.tourHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tourStep {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  