.btn {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.primary {
  padding: 18px 40px;
  background: #3b3850;
  border-radius: 42px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin: 0;
  width: min-content;
  word-break: keep-all;
  align-self: center;
  white-space: nowrap;
}

.secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}

